In [5]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('/Users/sudhanshugarg/Desktop/Santa clara University/Fall 2024/Dashboards/Project/Deliverables/Data.csv')

data.columns

/var/folders/cf/cj1ld8d54x93wq419bj43slc0000gn/T/ipykernel_90282/791957425.py:5: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/sudhanshugarg/Desktop/Santa clara University/Fall 2024/Dashboards/Project/Deliverables/Data.csv')

Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Victim Ethnicity',
       'Perpetrator Sex', 'Perpetrator Age', 'Perpetrator Race',
       'Perpetrator Ethnicity', 'Relationship', 'Weapon', 'Victim Count',
       'Perpetrator Count', 'Record Source'],
      dtype='object')

In [6]:
len(data)

638454

In [7]:
data.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638454 entries, 0 to 638453
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Record ID              638454 non-null  int64
 1   Agency Code            638454 non-null  object
 2   Agency Name            638454 non-null  object
 3   Agency Type            638454 non-null  object
 4   City                   638454 non-null  object
 5   State                  638454 non-null  object
 6   Year                   638454 non-null  int64
 7   Month                  638454 non-null  object
 8   Incident               638454 non-null  int64
 9   Crime Type             638454 non-null  object
 10  Crime Solved           638454 non-null  object
 11  Victim Sex             638454 non-null  object
 12  Victim Age             638454 non-null  int64
 13  Victim Race            638454 non-null  object
 14  Victim Ethnicity       638454 non-null  object
 15  Perpetrator Sex        638454 non-null  object
 16  Perpetrator Age        638454 non-null  object
 17  Perpetrator Race       638454 non-null  object
 18  Perpetrator Ethnicity  638454 non-null  object
 19  Relationship           638454 non-null  object
 20  Weapon                 638454 non-null  object
 21  Victim Count           638454 non-null  int64
 22  Perpetrator Count      638454 non-null  int64
 23  Record Source          638454 non-null  object
dtypes: int64(6), object(18)
memory usage: 116.9+ MB

In [9]:
data.isna().sum()

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
City                     0
State                    0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
dtype: int64

In [10]:
data.replace('Unknown', np.nan, inplace=True)

In [11]:
data.isna().sum()

Record ID                     0
Agency Code                   0
Agency Name                  47
Agency Type                   0
City                          0
State                         0
Year                          0
Month                         0
Incident                      0
Crime Type                    0
Crime Solved                  0
Victim Sex                  984
Victim Age                    0
Victim Race                6676
Victim Ethnicity         368303
Perpetrator Sex          190365
Perpetrator Age               0
Perpetrator Race         196047
Perpetrator Ethnicity    446410
Relationship             273013
Weapon                    33192
Victim Count                  0
Perpetrator Count             0
Record Source                 0
dtype: int64

In [12]:
data.dropna(subset=['Agency Name', 'Victim Race', 'Victim Sex', 'Weapon'],inplace=True)

data.drop(columns=['Victim Ethnicity', 'Perpetrator Sex', 'Perpetrator Race', 'Perpetrator Ethnicity'],inplace=True)

In [13]:
len(data)

599679

In [14]:
data.columns

Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Perpetrator Age',
       'Relationship', 'Weapon', 'Victim Count', 'Perpetrator Count',
       'Record Source'],
      dtype='object')

In [15]:
len(data.columns)

20

In [16]:
data.isna().sum()

Record ID                 0
Agency Code               0
Agency Name               0
Agency Type               0
City                      0
State                     0
Year                      0
Month                     0
Incident                  0
Crime Type                0
Crime Solved              0
Victim Sex                0
Victim Age                0
Victim Race               0
Perpetrator Age           0
Relationship         250000
Weapon                    0
Victim Count              0
Perpetrator Count         0
Record Source             0
dtype: int64

In [17]:
data.fillna('Unknown',inplace=True)

In [18]:
data.isna().sum()

Record ID            0
Agency Code          0
Agency Name          0
Agency Type          0
City                 0
State                0
Year                 0
Month                0
Incident             0
Crime Type           0
Crime Solved         0
Victim Sex           0
Victim Age           0
Victim Race          0
Perpetrator Age      0
Relationship         0
Weapon               0
Victim Count         0
Perpetrator Count    0
Record Source        0
dtype: int64

In [19]:
len(data)

599679

In [20]:
data.to_csv('Crimedata_cleaned1.csv', index=False)